{% extends 'code_layout.html' %}

{% block title %}LISTA SIMPLE CIRCULAR{% endblock %}

{% block titulo_1 %}CÓDIGO DEL NODO:{% endblock %}
{%block node_code%}
printf("Todo en orden"); 
{% endblock %}

{% block titulo_2 %}CÓDIGO DE LA LISTA SIMPLE CIRCULAR{% endblock %}
{%block structure_code%}
printf("Todo en orden x2"); 
{% endblock %}

{% block table_content %}
<!-- TEMPLATE PARA AGREGAR UNA FILA A LA TABLA: -->
<!--
<tr>
    <th scope="row">1</th>
    <td>Título/Descripción</td>
    <td>Enlace</td>
</tr>
-->
{% endblock %}