{% extends 'code_layout.html' %}

{% block title %}LISTA SIMPLEMENTE CIRCULAR{% endblock %}

{% block titulo_1 %}CÓDIGO DEL NODO:{% endblock %}
{%block node_code%}
// --- #include ---
#include &lt;stdio.h&gt;
#include &lt;stddef.h&gt;
#include &lt;stdbool.h&gt;
#include &lt;stdlib.h&gt;

// --- ESTRUCTURA DEL NODO ---

/**
 * @brief Struct del nodo.
 *
 * La lista simplemente enlazada se compone de nodos, cuyos atributos son:
 * -El dato que almacenan (Límitado a un número/int para este caso), info,
 * -El puntero al nodo siguiente, next
 * Se utiliza "typedef struct Node node;" para evitar el uso constante de struct Node nombreNodo
 * limitándolo al nombre que se defina allí.
 */
struct Node{
    int info;
    struct Node* next;
};
typedef struct Node node;

// *********************************
// Método de creación de nodo
// *********************************

/**
 * @brief Método para crear un nodo dado el dato que contendrá.
 * @param n el dato entero que contendrá el nuevo nodo a crear.
 * @return El puntero al nodo creado.
 */
node *createNode(int n){
    node *new_node = malloc(sizeof(node));
    new_node->info = n;
    new_node->next = NULL;
    return new_node;
}

/**
 * @brief Método para obtener la información que contiene el nodo.
 * @param El puntero al nodo.
 * @return El entero contenido dentro del nodo.
 */
int getInfo(node *node){
    return node->info;
}
{% endblock %}

{% block titulo_2 %}CÓDIGO DE LA LISTA SIMPLEMENTE CIRCULAR{% endblock %}
{%block structure_code%}
// --- ESTRUCTURA DE LA CIRCULAR LINKEDLIST ---

/**
 * @brief Struct de la lista simplemente circular.
 *
 * Una vez implementado lo relacionado al nodo de la lista
 * se procede a implementar la estructura de la lista
 * junto con sus métodos/funciones.
 * Se utiliza "typedef struct CircLinkedList CircLinkedList;" para evitar el uso constante de struct CircLinkedList nombreLista
 * limitándolo al nombre que se defina allí.
 */
struct CircLinkedList{
    node *head;
    node *tail;
    int size;
};
typedef struct CircLinkedList CircLinkedList;

/**
 * @brief Método para comprobar si la lista está vacía, comprobando si list->head apunta a NULL.
 * Si head apunta a null, no hay ningún nodo que apunte hacía la head, por tanto está vacía
 * @param El puntero a la Circular LinkedList.
 * @return Valor booleano de 0 o 1 según sea cierto o falso.
 */
bool isEmpty(CircLinkedList *list){
    return (list->head == NULL);
}

/**
 * @brief Método para obtener la cabeza de la lista, funciona como un getter
 * si se encuentra vacía retorna -1 y una impresión indicando que está vacía.
 * @param El puntero a la Circular LinkedList.
 * @return Valor entero que se encuentre en la head o cabeza.
 */
int getHead(CircLinkedList *list){
    if (isEmpty(list)){
        printf("Empty, head isn't exist\n");
        return -1;
    }
    return list->head->info;
}

/**
 * @brief Método para obtener la cola de la lista, funciona como un getter
 * si se encuentra vacía retorna -1 y una impresión indicando que está vacía.
 * @param El puntero a la Circular LinkedList.
 * @return Valor entero que se encuentre en la tail o cola.
 */
int getTail(CircLinkedList *list){
    if (isEmpty(list)){
        printf("Empty, tail isn't exist\n");
        return -1;
    }
    return list->tail->info;
}

/**
 * @brief Método para obtener el tamaño de la lista, funciona como un getter
 * @param El puntero a la Circular LinkedList.
 * @return Valor entero que representa el tamaño de la lista.
 */
int getSize(CircLinkedList *list){
    if(list == NULL){
        return 0;
    } else {
        return list->size;
    }
}

/**
 * @brief Método para saber si un valor se encuentra contenido dentro de la lista
 * si se encuentra vacía retorna false.
 * @param El puntero a la LinkedList y el valor a buscar
 * @return false si la lista está vacía o no se encuentra el valor, true si lo encuentra (en binario).
 */
bool contains(CircLinkedList *list, int val){
    if(isEmpty(list)){ //si está vacía la lista, se ahorra la búsqueda retornando falso
        return false;
    } else {
        node *newNode = list->head;
        do{
            if (newNode->info == val){ //si la info de "newNode" es igual al val (encuentra), retorna true
                return true;
            }
            newNode = newNode->next; //newNode cambia al nodo siguiente hasta que se cumpla la condición del while
        } while (newNode != list->head); //hasta que newNode no sea de nuevo el nodo cabeza, no se detiene el ciclo
        return false; //si no lo encuentra, retorna falso
    }
}

/**
 * @brief Método para buscar un nodo con x valor contenido dentro de la lista
 * la diferencia con contains es que este método retorna un nodo o un valor NULL
 * Información importante:
 * En un caso como el siguiente:
 *   node* node1 = search(&q, 12); si el valor 12 no está contenido
 *   printf("Contains? %s\n", node1); se debe poner %s en el printf, e imprimirá correctamnte (null)
 *   esto para probar el nodo nulo.
 *   Si está contenido, con %d, al node1->info, bastaría
 * @param El puntero a la Circular LinkedList y el valor a buscar
 * @return si encuentra el valor, retorna un nodo de tipo puntero, de lo contrario, NULL.
 */
node* search(CircLinkedList *list, int val){
    if(isEmpty(list)){
        return NULL;
    }else{
        node* aux = {NULL};
        if (contains(list, val)){ //se usa contains para saber si está contenido el valor en la lista
            node* aux = list->head;
            do{
                if (getInfo(aux) == val){
                    return aux;
                }
                aux = aux->next;
            } while (aux != list->head); //hasta que newNode no sea de nuevo el nodo cabeza, no se detiene el ciclo
        } else {
            return NULL;
        }
    }
}

/**
 * @brief Método para insertar los nodos por la cabeza o el frente de la lista
 * @param El puntero a la Circular LinkedList y el valor a ingresar
 * @return true si se inserta correctamente (binario).
 */
bool insertHead(CircLinkedList *list, int val){
    node *newNode = createNode(val); //se crea el nuevo nodo a ingresar

    if (isEmpty(list)){ //comprueba si la lista está vacia, siendo así el primer nodo a ingresar
        list->head = newNode; //la cabeza apunta hacia el nuevo nodo
        list->tail = list->head; //como es un solo nodo, la cola apunta a la cabeza
    } else {
        newNode->next = list->head; //si ya hay nodos, el apuntador next de newNode apunta a la cabeza actual de la lista
        list->head = newNode; //y ahora la nueva cabeza es newNode, pues el apuntador head, apunta hacia él.
    }
    list->tail->next = list->head; //finalmente, el apuntador siguiente de la cola, apuntara hacía el nodo list->head
    list->size++; //incrementa en uno el tamaño de la lista
    return true;
}

/**
 * @brief Método para insertar los nodos por la cola de la lista
 * @param El puntero a la LinkedList y el valor a ingresar
 * @return true si se inserta correctamente (binario).
 */
bool insertTail(CircLinkedList *list, int val){

    node *newNode = createNode(val);

    if (isEmpty(list)){ //comprueba si la lista está vacia, siendo así el primer nodo a ingresar
        list->head = newNode; //la cabeza apunta hacia el nuevo nodo
        list->tail = list->head; //el puntero cola, es la misma cabeza
    } else {
        list->tail->next = newNode; //el apuntador next de la cola, apunta hacia el nuevo nodo
        list->tail = newNode; //el apuntador cola, apunta hacia el nuevo nodo, siendo este la nueva cola
    }
    list->tail->next = list->head; //el apuntador ste de la nueva cola, apunta hacia la cabeza (es circular)
    list->size++; //incrementa en uno el tamaño de la lista
    return true;
}

/**
 * @brief Método encapsulado para insertar nodos en la lista, por la tail o cola
 * @param El puntero a la Circular LinkedList y el valor a ingresar
 * @return true si se inserta correctamente (binario).
 */
bool insert(CircLinkedList *list, int val){
    return insertTail(list, val);
}

/**
 * @brief Método para insertar los nodos en la posición que indique index.
 * Existen 3 alternativas:
 *  1 La lista está vacía:
 *      -Y se pone un índice diferente de 0, return false.
 *      -O si se pone índice 0, se llama al método insert, es el primer nodo.
 *  2 La lista no está vacía y el index es mayor o igual al tamaño de la lista en una unidad:
 *      index a ingresar 4: index = 0-1-2 (para que vaya en la cola debería ser index 3)
 *  3 La lista no está vacía y el index es 0 (insertar en la cabeza):
 *      Se llama a la función insertHead
 *  4 La lista no está vacía y el index es > a 0 ó no es mayor o igual al tamaño de la lista en una unidad
 * @param El puntero a la LinkedList, el index donde se quiere ingresar y el valor a ingresar.
 * @return true si se inserta correctamente (binario).
 */
bool insertAt(CircLinkedList* list, int index, int ingresar){
    node *newNode = createNode(ingresar);
    node *actual = list->head;
    if (isEmpty(list)){ // 1
        if(index != 0){
            return false;
        }else{
            insert(list, ingresar);
            return true;
        }
    }
    else if (!isEmpty(list) && index >= (getSize(list) + 1) ){ // 2
        printf("Impossible\n");
        return false;
    }
    else if(!isEmpty(list) && index == 0){ // 3
        insertHead(list, ingresar);
        return true;
    }
    node* prev = {NULL}; // 4
    int c = 0; //c ayudará a llevar la cuenta
    while (c < index){ //mientras c sea menor al númer index:
        prev = actual; //prev se convierte en el nodo actual en cada ciclo
        actual = actual->next; //actual se modifica, y pasa a ser su siguiente
        c++;
    }
    newNode->next = actual; // el apuntador ste del nodo que se inserta apunta a donde quedó actual
    prev->next = newNode; // el apuntador ste de prev apunta al nodo que se quiere inserta
    list->size++; // se incrementa el tamaño de la lista en 1
    return true;
}

/**
 * @brief Método para impiar toda la lista, liberando el espacio de memoria de cada nodo
 * @param El puntero a la Circular LinkedList
 * @return true si se inserta correctamente (binario).
 */
bool clear(CircLinkedList *list){
    if (isEmpty(list)){ //si la lista está vacía no hay nada que borrar, retorna falso
        return false;
    } else {
        node *temp = {NULL};
        while (list->size != 0){ //mientras el tamaño sea diferente de 0
            temp = list->head; //temp apunta a la cabeza de la lista
            list->head = list->head->next; //ahora la cabeza es el nodo siguiente de la que antes era la cabeza
            free(temp); //se libera el espacio de memoria con free, para poder asignar ese espacio liberado luego
            list->size--; //disminuye tamaño de la lista
        }
        list->head = NULL; // se deja apuntando list->head y list->tail a NULL por si la lista se quiere reinicializar
        list->tail = NULL;
        return true;
    }
}

/**
 * @brief Método para eliminar el nodo con el valor que se ponga de parámetro.
 * Existen 3 alternativas:
 *  1 Si hay un solo nodo por eliminar
 *  2 Si se quiere eliminar la cabeza
 *  3 Eliminar cualquier otro nodo al anterior
 * @param El puntero a la LinkedList, el valor a eliminar.
 * @return true si se elimina correctamente (binario).
 */
bool removeElement(CircLinkedList* list, int erase){
    if(!isEmpty(list)){ //si el resultado es falso, no se elimina y se imprime que el elemento no está en la lista
        node *tmp = {NULL};
        if(contains(list, erase)){
            if(list->head->info == erase && list->head == list->tail) { // 1 Se comprueba si el elemento es el único de la lista
                clear(list); // se  libera el espacio de memoria y queda la lista vacía
            } else if(list->head->info == erase){ // 2 Se comprueba si el elemento a eliminar es el mismo que está en la cabeza
                tmp = list->head; // tmp apunta a la cabeza de la lista
                list->head = list->head->next; // la cabeza de la lista es ahora el nodo siguiente al que era la cabeza
                free(tmp); // se libera el espacio de memoria tmp
                list->tail->next = list->head; // se hace apuntar al ste de la cola a la nueva cabeza
                list->size--; // se disminuye el tamaño
            } else { // 3 1->2->3->4->(1) se quiere eliminar 3
                node *prev = list->head; // prev apunta a la cabeza
                tmp = list->head->next; // tmp apunta al ste de la cabeza
                while (tmp->info != erase){
                    prev = prev->next; // prev en el ejemplo termina siendo 2
                    tmp = tmp->next; // tmp en el ejemplo termina siendo 3
                }
                prev->next = tmp->next; // prev (2) termina apuntando a 4
                if(tmp == list->head){ // esto se hace con el fin de que si tmp termina siendo la cabeza
                    list->tail = prev; // el apuntador list->tail apunte a prev
                }
                list->size--; // se disminuye tamaño de la lista
            }

        }else{
            printf("This element isn't exist in the list\n");
        }
    }else{
        printf("Nothing to erase\n");
        return false;
    }
}

/**
 * @brief Método para convertir la lista en un array
 * @param El puntero a la Circular LinkedList y un array de enteros que se va a llenar
 * @return true si se hace la conversión (binario).
 */
bool toArray(CircLinkedList* list, int array[]){
    if(isEmpty(list)){ // si la lista está vacía, retorna falso
        return false;
    }else {
        int index = 0;  // Contador para insertar los datos en el array
        node *actual = list->head;   // Nodo para iterar la lista
        do {
            array[index] = actual->info;   // Se insertar el dato actual en el array
            actual = actual->next;    // Se cambia el nodo actual
            index++;
        } while (actual != list->head); // es así por lo que es una circular linkedlist
        return true;
    }
}

/**
 * @brief Método para invertir la lista 15->16->17->(15) 17->16->15->(17)
 * Lo que hace este método es valerse del método toArray como auxiliar, para convertir la Circular LinkedList
 * en un array, luego limpiar la lista (su espacio en memoria) con clear y ya luego, insertar en la lista
 * por la head o cabeza, los números albergados en el array.
 * @param El puntero a la Circular LinkedList
 * @return Retorna la Circular LinkedList invertida.
 */
CircLinkedList reverse(CircLinkedList* list){
    if(isEmpty(list)){ // si la Circular Linkedlist está vacía no se hace procedimiento, imprime mensaje indicando esto
        printf("Empty list\n");
    }else {
        int array[getSize(list)]; // array auxiliar
        int size = getSize(list);
        toArray(list, array); // array auxiliar

        clear(list); // libera espacio de memoria de toda la lista
        for (int j = 0; j < size; j++) {
            insertHead(list, array[j]); //inserción por cabeza
        }
        return *list;
    }
}

/**
 * @brief Método para comparar 2 números o datos
 * Complemento para la función qsort()
 * @param 2 apuntadores void (este método se puede reutilizar para comparar otro tipo de datos)
 * @return 0 si son iguales.
 */
int comparison(const void * a, const void * b) {
    return ( *(int*)a - *(int*)b );
}

/**
 * @brief Método para ordenar la Circular LinkedList.
 * Complemento para la función qsort().
 * Este método al igual que el anterior utiliza toArray como método auxiliar
 * El array se convierte en uno de los parámetros de la función qsort
 * Luego se limpia el espacio de memoria de la lista
 * y finalmente se recorre el array ordenado y se va insertando cada número de nuevo en la lista
 * @param la Circular LinkedList que se va a ordenar.
 * @return la Circular LinkedList ordenada.
 */
/**
* @brief Método qsort, librería que utiliza quicksort para ordenar un array
* Complemento para la función sort
* @param apuntador al array, número de elementos en el array, el tamaño de los elementos en el array
 * en este caso enteros, llamada a la función que va a comparar a los 2 elementos
* @return retorna un array ordenado.
*/
CircLinkedList sort(CircLinkedList* list){
    if(isEmpty(list)){ // si la lista está vacía, no se hace nada, imprime mensaje indicando esto
        printf("Empty list\n");
    }else {
        int array[getSize(list)]; // array auxiliar
        int size = getSize(list);
        toArray(list, array);
        qsort(array, getSize(list), sizeof(int), comparison); // ordenamiento del array
        clear(list); // liberación de espacio de memoria
        for (int j = 0; j < size; j++) { // inserción de los datos ordenados
            insert(list, array[j]);
        }
        return *list; // retorno lista ordenada
    }
}

/**
* @brief Método complementario a printList, imprime la info de cada nodo
* @param apuntador a un nodo
*/
void displayNode(CircLinkedList* list)
{
    if(isEmpty(list)){
        printf("It's empty!\n");
    }
    node *tmp = list->head;
    do{
        printf(" Info = %d\n", tmp->info);
        tmp = tmp->next;
    }
    while(tmp != list->head); // la señal de parada es cuando tmp sea de nuevo list->head (es así porque es una Circular LinkedList)
}

/**
* @brief Método para imprimir la lista
* utiliza como complemento a displayNode
* @param apuntador a la Linkedlist
*/
void printList(CircLinkedList *list){
    if(isEmpty(list)){
        printf("Empty List\n");
    }else{
        displayNode(list);
    }
}
{% endblock %}

{% block table_content %}
<tr>
    <th scope="row">1</th>
    <td>Punteros en C:</td>
    <td>https://www.hackerrank.com/challenges/pointer-in-c/problem</td>
</tr>
<tr>
    <th scope="row">2</th>
    <td>Structs en C:</td>
    <td>https://youtu.be/CoW5NyFyGb4</td>
</tr>
<tr>
    <th scope="row">3</th>
    <td>Guía de implementación lista simplemente enlazada en C</td>
    <td>https://youtu.be/NPmwuR4VbKk</td>
</tr>
<tr>
    <th scope="row">4</th>
    <td>Memoria dinámica en C: Malloc y Free</td>
    <td>http://labsopa.dis.ulpgc.es/fso/cpp/intro_c/introc75.htm</td>
</tr>
<tr>
    <th scope="row">5</th>
    <td>Doxygen usage manual</td>
    <td>http://fnch.users.sourceforge.net/doxygen_c.html</td>
</tr>
<tr>
    <th scope="row">6</th>
    <td>Delete all nodes of LinkedList</td>
    <td>https://codeforwin.org/2015/09/c-program-to-delete-all-nodes-of-singly-linked-list.html</td>
</tr>
<tr>
    <th scope="row">7</th>
    <td> Estructura de Datos - Silvia Cairó & Osvaldo Guardati </td>
    <td> Libro </td>
</tr>
<tr>
    <th scope="row">8</th>
    <td>qsort</td>
    <td>https://www.gnu.org/software/libc/manual/html_node/Array-Sort-Function.html</td>
</tr>
{% endblock %}

{% block endpage_notes %}
<p style="padding: 5px; background-color: #E1E8F2; border: dotted 2px #00518A;">
Cuidado al inicializar por primera vez los punteros, haciéndolo p.Ej: CircLinkedList ll = {NULL, NULL, 0};
</p>
{% endblock %}
