{% extends 'layout.html' %}

{% block title %}HOME{% endblock %}

{% block content %}
<div class="header_container">
    <div class="jumbotron inside_container">
        <h1>¿QUÉ ENCONTRARÁS EN ESTA PÁGINA?</h1>
        <p><br>En esta página encontrarás la implementación en el lenguaje de programación C de las estructuras de datos más básicas, como lo son las listas y la pila.<br><br></p>
        <p></p>
    </div>
</div>
<div class="container cards_container">
    <div class="card-group cards_group">
        <div class="card"><img class="card-img-top w-100 d-block" src="{{url_for('static', filename='img/simple_list.jpg')}}">
            <div class="card-body">
                <h4 class="card-title">LISTA SIMPLEMENTE ENLAZADA SP.</h4>
                <a href="{{url_for('implementacion', name='lista_simple_SP')}}">
                <button class="btn btn-primary btn_card" type="button">Ver Implementación</button>
                </a>
            </div>
        </div>
        <div class="card"><img class="card-img-top w-100 d-block" src="{{url_for('static', filename='img/simple_list.jpg')}}">
            <div class="card-body">
                <h4 class="card-title">LISTA SIMPLEMENTE ENLAZADA PC.&nbsp;</h4>
                <a href="{{url_for('implementacion', name='lista_simple_PC')}}">
                <button class="btn btn-primary btn_card" type="button">Ver Implementación</button>
                </a>
            </div>
        </div>
        <div class="card"><img class="card-img-top w-100 d-block" src="{{url_for('static', filename='img/simple_circular_list.jpg')}}">
            <div class="card-body">
                <h4 class="card-title">LISTA SIMPLEMENTE ENLAZADA CIRCULAR.</h4>
                <a href="{{url_for('implementacion', name='lista_simple_circular')}}">
                <button class="btn btn-primary btn_card" type="button">Ver Implementación</button>
                </a>
            </div>
        </div>
    </div>
    <div class="card-group cards_group">
        <div class="card"><img class="card-img-top w-100 d-block" src="{{url_for('static', filename='img/double_list.jpg')}}">
            <div class="card-body">
                <h4 class="card-title">LISTA DOBLEMENTE ENLAZADA</h4>
                <a href="{{url_for('implementacion', name='lista_doble')}}">
                <button class="btn btn-primary btn_card" type="button">Ver Implementación</button>
                </a>
            </div>
        </div>
        <div class="card"><img class="card-img-top w-100 d-block" src="{{url_for('static', filename='img/double_circular_list.jpg')}}">
            <div class="card-body">
                <h4 class="card-title">LISTA DOBLEMENTE ENLAZADA CIRCULAR</h4>
                <a href="{{url_for('implementacion', name='lista_doble_circular')}}">
                <button class="btn btn-primary btn_card" type="button">Ver Implementación</button>
                </a>
            </div>
        </div>
        <div class="card"><img class="card-img-top w-100 d-block" src="{{url_for('static', filename='img/cola.jpg')}}">
            <div class="card-body">
                <h4 class="card-title">COLA&nbsp;<br>(QUEUE)<br></h4>
                <a href="{{url_for('implementacion', name='cola')}}">
                <button class="btn btn-primary btn_card" type="button">Ver Implementación</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}